<app-nav-bar *ngIf=logged></app-nav-bar>

<app-side-nav *ngIf=logged></app-side-nav>

<main [ngClass]="logged ? 'pt-14 sm:ml-64 min-h-screen min-w-0 max-w-full overflow-x-hidden bg-gray-50 dark:bg-gray-900' : 'min-h-screen min-w-0 max-w-full overflow-x-hidden'" aria-label="Contenido principal">
  <router-outlet></router-outlet>
</main>

<!--CONTENIDO DEL DROPDOWN DE FLOWBITE-->
<button id="dropdownToggle" data-dropdown-toggle="dropdown" aria-expanded="false">
</button>
<div id="dropdown" class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow my-4">
    <ul class="py-1" aria-labelledby="dropdownToggle">
        <li>
            <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2"></a>
        </li>
        <li>
            <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2"></a>
        </li>
    </ul>
</div>